[Unit]
Description=Raspberry Pi Temp Monitor
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/raspi-temp-monitor/temp_sensor.py

[Install]
WantedBy=multi-user.target